name: ly_vanny_cv
description: "A professional Flutter CV app for Ly Vanny."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Icons for contact info
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  # Add the image asset from the CV profile here
  assets:
    - assets/vanny_profile.png